@model Araba.Models.ProfilGuncelleme
@{
    ViewBag.Title = "Profil";
}

<div class="container">
    <br />


    <div class="row">
        <div class="col-md-3">
            <br />
            <!-- Filtreleme-->
            @Html.Action("PartialFiltre", "Home")
        </div>
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Profil Güncelle </li>
                </ol>
            </nav>
            <div class="img-thumbnail">
                <br />
                @using (Html.BeginForm("Profil", "Account", FormMethod.Post, new { @class = "row" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model=>model.id)

                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label"> Adınız </label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label"> Soyadınız </label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Surname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label"> Kullanıcı Adınız </label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label"> Email </label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                   



                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-outline-primary col-6"> Güncelle </button>
                            Ya da <a href="/Account/ChangePassword"> Şifre Değiştir </a>
                        </div>
                    </div>

                }

            </div>
        </div>




    </div> <!-- -->
</div>

